@model IEnumerable<ErayBarbekuSomine.Models.Image>

<div role="main" class="main">



				
				<section style="margin-top:100px" class="page-header page-header-modern bg-color-tertiary page-header-md">
					<div class="container container-xl-custom">
						<div class="row">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1 class="font-weight-bold">Düz Cepheli Ţömine</h1>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
								<ul class="breadcrumb d-block text-md-end breadcrumb-light">
									<li><a href="~/Home/Index">Anasayfa</a></li>
									<li class="active"><a href="javascript:void(0)">Düz Cepheli Ţömine</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<div class="container container-xl-custom">
					<div class="row">
					
						<div class="col-lg-9 order-lg-1">
							<div class="blog-posts">

								<div class="row">
									<div class="col">
										<article class="border-bottom-0 pb-0 mb-5 pt-4">
								<p>
									Düz cepheli ţömineler, son yýllarda modern ve minimalist ev tasarýmlarýnda popüler hale gelmiţtir. Bu ţömine tasarýmý, düz bir yüzey üzerine yerleţtirilen ţýk ve sade bir ţömine ţeklindedir.

								</p>
								<p class="pb-4">
									Düz cepheli ţömineler, basit hatlarý ve düz yüzeyleriyle mekana ferah bir hava katarak, modern bir atmosfer yaratýr. Bu ţömine tasarýmlarý genellikle beyaz, siyah, gri ve metalik renklerde üretilir ve farklý boyut ve ţekillerde mevcuttur. Ayrýca, çeţitli malzemelerden yapýlabildiđi için her türlü mekana uyum sađlar.

								</p>

											<partial name="_GalleryPartial" model="Model" view-data='new ViewDataDictionary(ViewData) { { "Category", "DuzCepheliSomine" } }' />

								<p>
									Düz cepheli ţöminelerin en önemli avantajlarýndan biri, mekanýn büyüklüđüne göre özelleţtirilebilmesidir. Örneđin, küçük bir odada düz cepheli bir ţömine, mekana daha geniţ bir his vermek için ideal bir seçenek olabilir. Ayrýca, bu ţömineler genellikle düţük yakýt tüketimine sahiptirler ve daha az çevre kirliliđi yaratýrlar.

								</p>
								<p>
									Düz cepheli ţöminelerin sunduđu modern ve minimalist tasarým seçenekleri, bu ţömineleri arayanlar için ideal bir seçimdir. Bu ţömineler, herhangi bir evin veya ofisin tasarýmýna mükemmel bir uyum sađlar ve odanýn havasýný güncel ve çađdaţ bir hale getirir.



								</p>
								<a href="https://wa.me/+905312523798?text=Merhaba,%20urunler%20hakkinda%20bilgi%20almak%20istiyorum." class="btn btn-modern btn-primary btn-arrow-effect-1">Whatsapp <i class="fas fa-arrow-right ms-2"></i></a>
								<a href="tel:+905312523798" class="btn btn-modern btn-danger btn-arrow-effect-1">Fiyat Alýn <i class="fas fa-arrow-right ms-2"></i></a>
								<br /><br />
								<table class="table text-white">
									
									<tbody>
										<tr>
											<td>
												Fiyatý
											</td>
											<td>
												<b>Sorunuz</b>
											</td>
											
										</tr>
										<tr>
											<td>
												Döküm Kazan Durumu
											</td>
											<td>
												Var
											</td>
											
										</tr>
										<tr>
											<td>
												Yakýt Tipi
											</td>
											<td>
												Odun
											</td>
											
										</tr>
										<tr>
											<td>
											Ţömine Yapým Süresi
											</td>
											<td>
												1-3 Gün
											</td>

										</tr>
									</tbody>
								</table>
											

											

											

											
										</article>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

			</div>
