@model IEnumerable<ErayBarbekuSomine.Models.Image>

<div role="main" class="main">




	<section style="margin-top:100px" class="page-header page-header-modern bg-color-tertiary page-header-md">
		<div class="container container-xl-custom">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 class="font-weight-bold">Köþe Þömine</h1>
				</div>
				<div class="col-md-4 order-1 order-md-2 align-self-center">
					<ul class="breadcrumb d-block text-md-end breadcrumb-light">
						<li><a href="demo-band.html">Home</a></li>
						<li class="active"><a href="demo-band-blog.html">Köþe Þömine</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container container-xl-custom">
		<div class="row">

			<div class="col-lg-9 order-lg-1">
				<div class="blog-posts">

					<div class="row">
						<div class="col">
							<article class="border-bottom-0 pb-0 mb-5 pt-4">
								<p>
									Köþe þömineleri, evlerin atmosferine sýcaklýk ve þýklýk katmak için popüler bir seçimdir. Bu þömine tasarýmý, odanýn bir köþesinde yer alan bir þömine þeklindedir ve odayý sýcak bir ortam haline getirir.



								</p>
								<p class="pb-4">
									Köþe þömineleri, geleneksel veya modern bir tasarýmla üretilebilirler ve birçok farklý boyutta ve þekilde mevcutturlar. Ahþap, mermer ve metal malzemelerle üretildikleri için her türlü ev dekorasyonuna uyum saðlarlar. Ayrýca, yüksek kaliteli malzemeler kullanýlarak yapýldýðýndan, uzun yýllar boyunca dayanýklý ve kullanýþlýdýrlar.



								</p>

								<partial name="_GalleryPartial" model="Model" view-data='new ViewDataDictionary(ViewData) { { "Category", "KoseSomine" } }' />

								<p>
									Köþe þöminelerinin en büyük avantajlarýndan biri, mekandan tasarruf etmeleridir. Odanýn bir köþesine yerleþtirilerek diðer mobilyalarla uyum saðlayarak, küçük odalarda bile kullanýmý kolay hale getirir. Ayrýca, bazý modelleri döner özelliklere sahip olduðundan, odadaki mobilyalarý da döndürebilirsiniz.



								</p>
								<p>
									Köþe þömineleri, evinizin herhangi bir odasýnda kullanýlabilecek çok yönlü bir seçimdir. Yalnýzca evinizi sýcak tutmakla kalmaz, ayný zamanda evinize bir karakter ve kiþilik katarlar. Geleneksel veya modern tarzda bir tasarým seçeneði olan köþe þömineleri, herhangi bir evin atmosferini mükemmel bir þekilde tamamlar.







								</p>
								<a href="https://wa.me/+905312523798?text=Merhaba,%20urunler%20hakkinda%20bilgi%20almak%20istiyorum." class="btn btn-modern btn-primary btn-arrow-effect-1">Whatsapp <i class="fas fa-arrow-right ms-2"></i></a>
								<a href="tel:+905312523798" class="btn btn-modern btn-danger btn-arrow-effect-1">Fiyat Alýn <i class="fas fa-arrow-right ms-2"></i></a>
								<br /><br />
								<table class="table text-white">

									<tbody>
										<tr>
											<td>
												Fiyatý
											</td>
											<td>
												<b>Sorunuz</b>
											</td>

										</tr>
										<tr>
											<td>
												Döküm Kazan Durumu
											</td>
											<td>
												Var
											</td>

										</tr>
										<tr>
											<td>
												Yakýt Tipi
											</td>
											<td>
												Odun
											</td>

										</tr>
										<tr>
											<td>
												Þömine Yapým Süresi
											</td>
											<td>
												1-3 Gün
											</td>

										</tr>
									</tbody>
								</table>




							</article>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

</div>
