@model IEnumerable<ErayBarbekuSomine.Models.Image>

<div role="main" class="main">




	<section style="margin-top:100px" class="page-header page-header-modern bg-color-tertiary page-header-md">
		<div class="container container-xl-custom">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 class="font-weight-bold">L Tipi Ţömine</h1>
				</div>
				<div class="col-md-4 order-1 order-md-2 align-self-center">
					<ul class="breadcrumb d-block text-md-end breadcrumb-light">
						<li><a href="demo-band.html">Home</a></li>
						<li class="active"><a href="demo-band-blog.html">L Tipi Ţömine</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container container-xl-custom">
		<div class="row">

			<div class="col-lg-9 order-lg-1">
				<div class="blog-posts">

					<div class="row">
						<div class="col">
							<article class="border-bottom-0 pb-0 mb-5 pt-4">
								<p>
									L tipi ţömineler, evlerin atmosferine sýcaklýk ve stil katmak için popüler bir seçimdir. Bu ţömine tasarýmý, genellikle bir köţede yer alan ve L ţeklindeki bir görünüme sahip olan ţömine ţeklindedir. Bu tasarým, odayý sýcak ve rahat bir ortam haline getirirken ayný zamanda odanýn dekorasyonuna da uyum sađlar.



								</p>
								<p class="pb-4">
									L tipi ţömineler, birçok farklý malzemeden yapýlabildiđi için her türlü ev dekorasyonuna uygun bir seçimdir. Ahţap, taţ, mermer veya metal malzemelerden yapýlan bu ţömineler, birçok farklý renk ve dokuda mevcuttur. Ayrýca, farklý boyutlarda ve ţekillerde üretilerek, herhangi bir oda boyutuna mükemmel bir uyum sađlarlar.



								</p>

								<partial name="_GalleryPartial" model="Model" view-data='new ViewDataDictionary(ViewData) { { "Category", "LTipiSomine" } }' />

								<p>
									L tipi ţömineler, diđer ţömine tasarýmlarýna göre daha fazla ýsý dađýtma kapasitesine sahip olabilirler. Ayrýca, iki farklý yönde ýsý yayarak odaya daha fazla sýcaklýk sađlarlar. Bu ţömineler, ayný zamanda daha az yakýt tüketerek daha az çevre kirliliđi yaratýrlar.



								</p>
								<p>
									L tipi ţömineler, evlerin herhangi bir odasýnda kullanýlabilecek çok yönlü bir seçimdir. Yalnýzca evinizi sýcak tutmakla kalmaz, ayný zamanda evinize bir karakter ve kiţilik katarlar. L ţeklindeki tasarýmlarý, odanýn atmosferini tamamlayarak, evinize benzersiz bir his verir.







								</p>
								<a href="https://wa.me/+905312523798?text=Merhaba,%20urunler%20hakkinda%20bilgi%20almak%20istiyorum." class="btn btn-modern btn-primary btn-arrow-effect-1">Whatsapp <i class="fas fa-arrow-right ms-2"></i></a>
								<a href="tel:+905312523798" class="btn btn-modern btn-danger btn-arrow-effect-1">Fiyat Alýn <i class="fas fa-arrow-right ms-2"></i></a>
								<br /><br />
								<table class="table text-white">

									<tbody>
										<tr>
											<td>
												Fiyatý
											</td>
											<td>
												<b>Sorunuz</b>
											</td>

										</tr>
										<tr>
											<td>
												Döküm Kazan Durumu
											</td>
											<td>
												Var
											</td>

										</tr>
										<tr>
											<td>
												Yakýt Tipi
											</td>
											<td>
												Odun
											</td>

										</tr>
										<tr>
											<td>
												Ţömine Yapým Süresi
											</td>
											<td>
												1-3 Gün
											</td>

										</tr>
									</tbody>
								</table>




							</article>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

</div>
