<div role="main" class="main">




	<section style="margin-top:100px" class="page-header page-header-modern bg-color-tertiary page-header-md">
		<div class="container container-xl-custom">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 class="font-weight-bold">Truva Çift Taraflı Barbekü</h1>
				</div>
				<div class="col-md-4 order-1 order-md-2 align-self-center">
					<ul class="breadcrumb d-block text-md-end breadcrumb-light">
						<li><a href="demo-band.html">Home</a></li>
						<li class="active"><a href="demo-band-blog.html">Truva Çift Taraflı Barbekü</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container container-xl-custom">
		<div class="row">

			<div class="col-lg-9 order-lg-1">
				<div class="blog-posts">

					<div class="row">
						<div class="col">
							<article class="border-bottom-0 pb-0 mb-5 pt-4">
								<p>
									Truva Çift Taraflı Şömine, evinizi sıcak tutarken aynı zamanda yemek pişirmenizi sağlayan bir şömine tasarımıdır. Bu şömineler, evinizi ısıtmanın yanı sıra, birden fazla fırın ve ızgara bölmesi ile yemek pişirme özelliği sunarlar. Truva Çift Taraflı Şömine, evinizin sağ ve sol tarafında bulunan fazladan fırın bölümleri ile öne çıkıyor.









								</p>
								<p class="pb-4">
									Truva Çift Taraflı Şömine, evin iki farklı odasında sıcak ve rahat bir atmosfer yaratmak isteyenler için harika bir seçimdir. Şöminenin iki tarafında da cam paneller bulunur ve bu sayede, hem ön hem de arka taraflardan ateşi ve alevleri görebilirsiniz. Ayrıca şöminenin içinde, sağ ve sol tarafta bulunan ekstra fırın ve ızgara bölümleri de mevcuttur. Bu bölümler, yemek pişirmek isteyenler için idealdir.











								</p>

								<div class="row pb-5">
									<div class="col-sm-4">
										<a class="img-thumbnail img-thumbnail-no-borders d-block img-thumbnail-hover-icon lightbox" href="~/images/truvacifttarafli/7.jpg" data-plugin-options="{'type':'image'}">
											<img class="img-fluid rounded-0" src="~/images/truvacifttarafli/7.jpg" alt="Project Image">
										</a>
									</div>
									<div class="col-sm-4">
										<a class="img-thumbnail img-thumbnail-no-borders d-block img-thumbnail-hover-icon lightbox" href="~/images/truvacifttarafli/8.jpg" data-plugin-options="{'type':'image'}">
											<img class="img-fluid rounded-0" src="~/images/truvacifttarafli/8.jpg" alt="Project Image">
										</a>
									</div>
									<div class="col-sm-4">
										<a class="img-thumbnail img-thumbnail-no-borders d-block img-thumbnail-hover-icon lightbox" href="~/images/truvacifttarafli/9.jpg" data-plugin-options="{'type':'image'}">
											<img class="img-fluid rounded-0" src="~/images/truvacifttarafli/9.jpg" alt="Project Image">
										</a>
									</div>
								</div>

								<p>
									Truva Çift Taraflı Şöminesi, farklı fırın bölmeleri ile herkesin ihtiyacına uygun bir yemek pişirme imkanı sunar. Sağ taraftaki fırın bölmesinde, örneğin bir pizza ya da kebap pişirebilirsiniz. Sol taraftaki fırın bölmesinde ise örneğin ekmek ya da tatlılar pişirebilirsiniz. Ayrıca, bu şöminenin üst kısmında da ızgara bölmesi bulunur. Böylece, etleri ya da sebzeleri güzel bir şekilde pişirebilir ve aynı zamanda evinizi de sıcak tutabilirsiniz.









								</p>
								<p>
									Truva Çift Taraflı Şömine, evinizi ısıtmanın yanı sıra, yemek pişirmek için de harika bir seçimdir. Şöminenin sağ ve sol tarafında bulunan fazladan fırın ve ızgara bölümleri ile evdeki yemek pişirme deneyimini tamamen değiştirecektir. Ayrıca, bu şöminenin şık tasarımı evinizin dekorasyonuna da uyum sağlayacaktır.
















								</p>

								
								<a href="#" class="btn btn-outline btn-primary mb-2">Fiyat Alın</a>
								<a href="#" class="btn btn-outline btn-success mb-2">Whatsapp</a>
								<table class="table text-white">
									<thead>
										<tr>
											<th>
												#
											</th>
											<th>
												First Name
											</th>
											<th>
												Last Name
											</th>
											<th>
												Username
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												1
											</td>
											<td>
												Mark
											</td>
											<td>
												Otto
											</td>
											<td>
											</td>
										</tr>
										<tr>
											<td>
												2
											</td>
											<td>
												Jacob
											</td>
											<td>
												Thornton
											</td>
											<td>
											</td>
										</tr>
										<tr>
											<td>
												3
											</td>
											<td>
												Larry
											</td>
											<td>
												the Bird
											</td>
											<td>
											</td>
										</tr>
									</tbody>
								</table>







							</article>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

</div>