@model IEnumerable<ErayBarbekuSomine.Models.Image>

<div role="main" class="main">




	<section style="margin-top:100px" class="page-header page-header-modern bg-color-tertiary page-header-md">
		<div class="container container-xl-custom">
			<div class="row">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1 class="font-weight-bold">U Tipi Ţömine</h1>
				</div>
				<div class="col-md-4 order-1 order-md-2 align-self-center">
					<ul class="breadcrumb d-block text-md-end breadcrumb-light">
						<li><a href="demo-band.html">Home</a></li>
						<li class="active"><a href="demo-band-blog.html">U Tipi Ţömine</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container container-xl-custom">
		<div class="row">

			<div class="col-lg-9 order-lg-1">
				<div class="blog-posts">

					<div class="row">
						<div class="col">
							<article class="border-bottom-0 pb-0 mb-5 pt-4">
								<p>
									U tipi ţömineler, modern tasarým ve ţýk bir görünüm sunan lüks ţömine modellerinden biridir. Bu ţöminelerin özelliđi, U ţeklindeki tasarýmdýr ve genellikle duvara gömülü olarak yerleţtirilirler.





								</p>
								<p class="pb-4">
									U tipi ţömineler, geleneksel ţöminelerin aksine daha az yer kaplar ve modern evlerin minimalist tasarýmýna uyum sađlarlar. U ţekli, ateţin çevresinde oturma alaný için ideal bir düzen sađlar ve daha geniţ bir görüţ açýsý sunar.





								</p>

								<partial name="_GalleryPartial" model="Model" view-data='new ViewDataDictionary(ViewData) { { "Category", "UTipiSomine" } }' />

								<p>
									Bu ţömineler genellikle çelik, cam ve beton gibi modern malzemelerden yapýlmýţtýr. U tipi ţömineler, iç mekanda bir sanat eseri gibi görünebilirler ve modern bir tasarým estetiđi ile birleţtirilirler.





								</p>
								<p>
									Ayrýca, U tipi ţöminelerdeki ekstra fýrýnlar ve ýzgara bölümleri, geleneksel bir ţöminenin yaný sýra ev sahiplerinin yemek piţirmelerine olanak tanýr. U tipi ţömineler, evinizin odak noktasý haline gelerek, özel bir atmosfer yaratmanýzý sađlar.











								</p>
								<a href="https://wa.me/+905312523798?text=Merhaba,%20urunler%20hakkinda%20bilgi%20almak%20istiyorum." class="btn btn-modern btn-primary btn-arrow-effect-1">Whatsapp <i class="fas fa-arrow-right ms-2"></i></a>
								<a href="tel:+905312523798" class="btn btn-modern btn-danger btn-arrow-effect-1">Fiyat Alýn <i class="fas fa-arrow-right ms-2"></i></a>
								<br /><br />
								<table class="table text-white">

									<tbody>
										<tr>
											<td>
												Fiyatý
											</td>
											<td>
												<b>Sorunuz</b>
											</td>

										</tr>
										<tr>
											<td>
												Döküm Kazan Durumu
											</td>
											<td>
												Var
											</td>

										</tr>
										<tr>
											<td>
												Yakýt Tipi
											</td>
											<td>
												Odun
											</td>

										</tr>
										<tr>
											<td>
												Ţömine Yapým Süresi
											</td>
											<td>
												1-3 Gün
											</td>

										</tr>
									</tbody>
								</table>

							</article>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

</div>
